<template>
    <div class="home">
        <img src="../assets/logo.png">
        <Todos/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Todos from "../components/Todos";

    export default {
        name: 'home',
        components: {
            Todos
        }
    }
</script>
