<template>
    <div>
        <h2>Add todo</h2>
        <input type="text" v-model="todoBody" @change="postTodo()"/>

        <h1>Completed Todos</h1>
        <ul v-if="completedTodos" class="">
            <li v-for="completedTodo of completedTodos" v-bind:key="completedTodo.id">
                {{completedTodo.title}}
            </li>
        </ul>

        <h1>Todos</h1>
        <ul v-if="todos" class="">
            <li v-for="todo of todos" v-bind:key="todo.id">
                {{todo.title}}
            </li>
        </ul>
    </div>
</template>

<script>
    import axios from "axios";

    const databaseUrl = "https://wm-api-e1564.firebaseio.com/todos.json";

    export default {
        name: "Todos",
        data () {
            return {
                todoBody: ""
            }
        },
        computed: {
            todos () {
                return this.$store.state.todos
            },
            completedTodos () {
                return this.$store.getters.completedTodos
            }
        },
        created () {
            axios.get(databaseUrl).then(
                response => {
                    this.$store.commit("addTodos", response.data);
                }).catch(error => {
                console.log(error);
            })
        },
        methods: {
            postTodo () {
                axios.post(databaseUrl, {
                    title: this.todoBody,
                    completed: false
                }).then(response => {
                    console.log(response.data);
                }).catch(error => {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>
